<?xml version="1.0" encoding="utf-8"?>
<!-- Used only for an MSIX build (WindowsPackageType=MSIX); the default build is unpackaged. -->
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity Name="Brasscribe.Play" Publisher="CN=brasscribe" Version="0.1.0.0" />

  <Properties>
    <DisplayName>Brasscribe Play</DisplayName>
    <PublisherDisplayName>brasscribe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="nb-NO" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="Brasscribe Play" Description="Recording in, brass-band score out."
                          BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="brasscribe.media">
            <uap:SupportedFileTypes>
              <uap:FileType>.wav</uap:FileType>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.musicxml</uap:FileType>
              <uap:FileType>.mxl</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
